<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "./style.css" >
  </head>
  <body>
    <form  method ="POST" action="/">
      <center><h3><label for="name">Name</label></h3></center>
      <center><input id="name" name = "name" type="text" placeholder ="Name"></center>
      <br>
      <center><h3><label for="Pace">Pace</label></h3></center>
      <center><input id="Pace" name ="Pace" type= "text" placeholder= "PAC"></center>
      <br>
      <center><h3><label for="Shooting">Shooting</label></h3></center>
      <center><input id="Shooting " name = "Shooting" type= "text" placeholder= "SHO"></center>
      <br>
      <div class = "custom1"> 
      
      <img  src ="http://i.imgur.com/fHwS4q7.png" height ="200px" width = "150px">
      <center><h2>Example</h2></center>
    </div>
    <div class = "custom2"> 
      
      <img  src ="http://i.imgur.com/fHwS4q7.png" height ="200px" width = "150px">
      <center><h2>Example</h2></center>
    </div>
      <center><h3><label for="Physical">Physical</label></h3></center>
      <center><input id="Physical" name ="Physical" type= "text" placeholder= "PHY"></center>
      <br>
      <center><h3><label for="Dribbling">Dribbling</label></h3></center>
      <center><input id="Dribbling" name ="Dribbling" type= "text" placeholder= "DRI"></center>
      <br>
      <center><h3><label for="Passing">Passing</label></h3></center>
      <center><input id="Passing" name ="Passing" type= "text" placeholder= "PAS"></center>
      <br>
      <center><h3><label for="Defending">Defending</label></h3></center>
      <center><input id="Defending" name ="Defending" type= "text" placeholder= "DEF"></center>
      <br>
      <center><input type="submit"></center>
             
    </form>
  </body>