<!DOCTYPE html>
<html>
  <head>
    <title>Card Generator</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" > 
  </head>
  <body>
    <h1>Sports Card Generator</h1>
    <form method="POST" action="/dogs"> 
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="Name">
      <label for="age">Age</label>
      <input id="age" name="age" type="text" placeholder="Age">
      <label for="birthday">Birthday</label>
      <input id="birthday" name="birthday" type="date" placeholder="birthday">
      <input type="submit">
    </form>
  </body>
</html>
