<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "css/style.css" >
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <title>Fifa Player Generator</title>
  </head>
  <body>
    <center><h1>Fifa Player Creater</h1></center>
    <center><h3>By Griffin, Jared, and Jason.</h3></center>
    
    <a href="/form" class="button" >
  <span>Make Card</span>
</a>
    
    <div class = "custom1"> 
      
      <img  src ="http://i.imgur.com/fHwS4q7.png" height ="250px" width = "187.5px">
      <center><h2></h2></center>
    </div>
    <div class = "custom2"> 
      
      <img  src ="http://i.imgur.com/fHwS4q7.png" height ="250px" width = "187.5px">
      <center><h2></h2></center>
    </div>
    
    <center><img class = "soccer" src ="http://i.imgur.com/fHwS4q7.png" height ="250px" width = "187.5px"></center>
    
    
		
    
    
      
      
      
      
      
      
  </body>
</html>

    