/* body {
    background-image: url("http://media2.fcbarcelona.com/media/asset_publics/resources/000/036/268/size_640x360/2012-12-01_OTRA_CARA_BARCELONA-ATHLETIC_34-Optimized.v1354468000.v1354816903.JPG");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 1450px 750px;
} */
/* body {
  background-image: url("http://previews.123rf.com/images/ivicans/ivicans1112/ivicans111200006/11603475-green-natural-grass-of-a-Football-soccer-field-Stock-Photo.jpg");
  background-repeat: no-repeat;
  background-position: left middle;
  background-size: 400px 700px;
  
} */

body {
  background-color: #C7D0C0;
}

/* .position {
    position: fixed;
    top: 300px;
    right: 5px;
} */