body {
  
/*   background: linear-gradient(to right, #575A67, grey, #575A67); */
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
   text-shadow: 1px 1px 1px #333;
  
}

button.fifa {
  background: radial-gradient(#DBBF1A, #B29D21);
  border-style: solid, black;
  border-width: 5px;
  
  color: #04104B;
  float: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  position: relative; 
  
  top: 380px;
  
  
}
.soccer{
  float: center;
  position: relative; 
  top: 100px;
  
  
}
.custom1{
  float: left;
  position: relative; 
  top: -30px;
  transform: rotate(15deg);
  left: 150px;
}
.custom2{
  float: right;
  position: relative; 
  top: -30px;
  transform: rotate(-15deg);
  right: 150px;
}
